/*ROBOTO*/
body{
    font-family: 'Roboto', sans-serif;
}

/*CONTAINER*/
.container{
    width: 1280px;
    margin: 0 auto;
    /*margin-top: 61px;*/
}

/*RamdaJS*/
.ra{
    margin-top: 61px;
    display: inline-block;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-bottom: 28px;

}
.mda{
    display: inline-block;
    font-size: 80px;
    line-height: 94px;
    color: #87cefa;
    margin-bottom: 28px;
}

/*TOP-MENU*/
header{
    font-size: 0;
}
.top-menu{
    display: inline-block;
    /*margin: 0 auto;*/
    /*padding: 0;*/
    margin-bottom: 50px;
}
.top-menu a{
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    background-color: #35444F;
    color: #ffffff;
    padding-top: 26px;
    padding-bottom: 19px;
}
.top-menu a:nth-child(1){
    padding-left: 20px;
    padding-right: 20px;
    color: #35444F;
    cursor: default;
}
.top-menu a:nth-child(2){
    padding-left: 32px;
    padding-right: 33px;
    border-left: 1px solid #ffffff;
}
.top-menu a:nth-child(3){
    padding-left: 38px;
    padding-right: 36px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.top-menu a:nth-child(4){
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #ffffff;
}
.top-menu a:nth-child(5){
    padding-left: 40px;
    padding-right: 151px;
}
.top-menu a:nth-child(1):hover{
    color: #222F3A;
}
.top-menu a:hover{
    background-color: #222F3A;
}

/*SIDEBAR LEFT-MENU*/
.left-menu{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: 1px solid #485863;
    width: 30%;
    /*height: 399px;*/
    margin-top: 25px;

}
.left-menu li a{
    display:block;
    font-size: 27px;
    line-height: 27px;
    padding: 25px 0 27px 44px;
    color: #485863;
    transition: padding-left 0.7s;
    text-decoration: none;
}
.left-menu li a:hover{
    background-color: #DBDBDB;
    padding-left: 85px;
    color: #35444F;
}
/*fedkosfdsko*/
/*CONTENT*/
.content{
    display: inline-block;
    margin: 25px 0 0  0;
    width: 69%;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
}
.content div{
    margin-bottom: 34px;
}
.content span{
    display: block;
    margin: 0 0 34px 50px;
}
/*.content span:nth-child(1){*/
/*    display: block;*/
/*    margin: 0 0 34px 50px;*/
/*}*/
/*.content span:nth-child(2){*/
/*    display: block;*/
/*    padding-left: 50px;*/
/*}*/

/*IMG ADVANCED COMPLEXITY TASK*/
.main-img-wrapper{
    display: inline-block;
    width: 833px;
    margin-left: 45px;
    padding: 0;
    border: 1px solid #485863;
}
img{
    display: inline-block;
    padding: 75px 280px 73px 230px;
}
.photo{
    transition: transform 0.5s;
}
.photo:hover{
    transform: scale(1.1);
    cursor: grab;
}

/*FOOTER*/
/*BOTTOM-MENU*/
footer{
    font-size: 0;
}
.bottom-menu{
    padding: 20px 0 20px 0;
    display: inline-block;
    margin-bottom: 30px;
    background-color: #b4b7b9;
}
.bottom-menu a{
    font-size: 28px;
    line-height: 28px;
    margin-right: 22px;
    text-decoration: none;
    color: #0C1927;
}
.bottom-menu a:hover{
    text-decoration: underline;
    color: #4682b4;
    cursor: pointer;
}
.bottom-menu div{
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
    margin-left: 127px;
    margin-right: 40px;
}
.bottom-menu a:nth-child(1){
    margin-left: 40px;
}