*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
body{
    background-color: #EEEEEE;
    font-family: Arial, sans-serif;
}
.wrapper{
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px 30px;
}
.block-form{}
.block-form__title{
    font-size: 40px;
    margin-bottom: 20px;
}
.block-form__input{
    margin-bottom: 15px;
}

.checkbox{
    font-size: 16px;
    line-height: 20px;
    padding-left: 70px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #b2b2b2;
}
.checkbox.active{
    color: #000000;
}
.checkbox.active::before{
    background-color: #4fbb65;
}
.checkbox.active::after{
    background-color: #4fbb65;
    left: 25px;
}

.checkbox::before{
    content: '';
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background-color: #bfc0c4;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.checkbox::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -5px;
    background-color: #bfc0c4;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}
.checkbox input{
    display: none;
}
.radio-buttons{

}
.radio-buttons__item {
    position: relative;
    padding-left: 45px;
    font-size: 16px;
    color: #b2b2b2;
    margin-bottom: 20px;
    line-height: 30px;
    cursor: pointer;

    transition: all 0.3s ease 0s;
}
.radio-buttons__item.active{
    color: #000000;
}
.radio-buttons__item.active::after{
    transform: scale(1);
}
.radio-buttons__item::before{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #bfc0c4;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.radio-buttons__item::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #4fbb65;
    border-radius: 50%;

    transition: all 0.3s ease 0s;

    transform: scale(0);
}
.radio-buttons__item input{
    display: none;
}
.button{
    line-height: 60px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 0 30px;
    font-size: 18px;
    border-radius: 25px;
    background-color: #bfc0c4;
    position: relative;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}
.button span{
    position: relative;
    z-index: 2;
}
.button::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4fbb65;
    transform: scale(0);
}
.button:hover{
    color: #ffffff;
}
.button:hover::before{
    transform: scale(1);
}