body{
    margin: 0 auto;
    padding: 0;
    width: 1366px;
}.container{
     font-family: 'Arimo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 20px;
 }
th, td{
    text-align: center;
    vertical-align: middle;
}
.table{
    /*box-sizing: border-box;*/
    border: 20px solid #3A4965;
    color: #484848;
    text-transform: uppercase;
    text-align: center;
    border-collapse: collapse;
}
.thead{
    border-bottom: 10px solid #3A4965;
    line-height: 28px;
    color: #848484;
    font-size: 24px;
    font-weight: bold;
}
.fas{
    padding-bottom: 5px;
    font-weight: normal;
}
.plan{
    padding: 30px 28px 34px 28px;
    background: #FAFAFA;
    color: #484848;
}
.plan p:nth-child(1){
    font-size: 14px;
    /*padding: 24px 32px 0 32px;*/
}
.plan p:nth-child(2){
    font-size: 20px;
}

.thead th:nth-child(2){
    background: #E3E3E3;
    padding: 24px 29px 27px 29px;
}
.thead th:nth-child(3){
    background: #F2F2F2;
    padding: 24px 17px 27px 16px;
}
.thead th:nth-child(4){
    background: #E3E3E3;
    padding: 25px 47px 28px 46px;
}
.thead th:nth-child(5){
    background: #F2F2F2;
    padding: 24px 30px 26px 29px;
}
.thead th:nth-child(6){
    background: #E3E3E3;
    padding: 24px 19px 27px 23px;
}
.thead th:nth-child(7){
    background: #F2F2F2;
    padding: 24px 42px 26px 42px;
}


sup{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}
span{
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
}
button{
    /*border-bottom: 9px inset rgba(0, 0, 0, 0.27);*/
    font-family: 'Arimo', sans-serif;
    background: #414141;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px 30px 7px 30px;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
    border: none;
    outline: none;
    border-radius: 5px;
}
.green-bg{
    background: #89C331;
    padding: 22px 22px 19px 21px;
}
.standard{
    padding-bottom: 4px;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 1px solid #89C331;
}
.price{
    padding-bottom: 13px;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    color: #ffffff;
}
.table-content td:not(:nth-child(1)){
    border-bottom: 1px solid #C6C3B5;
}
.table-content td:hover{
    background: steelblue;
}
.table-content td:not(:nth-child(1)){
    color: #484848;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
.table-content td:nth-child(even){
    background: #E3E3E3;
    padding: 0 38px 0 38px;
}
.table-content td:nth-child(odd):not(:nth-child(1)){
    background: #F2F2F2;
    padding: 0 30px 0 29px;
}

.red-bg{
    background: #F04A56;
    padding: 24px 21px 22px 22px;
}
.ultimate{
    padding-bottom: 4px;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 1px solid #F04A56;
}
.blue-bg{
    background: #20807C;
    padding: 24px 22px 23px 21px;
}
.premium{
    padding-bottom: 4px;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 1px solid #20807C;
}
button:hover{
    background: #32293A;
}