body{
    background-color: #77608d;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.question{
    margin-top: 10%;
    padding: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-color: #F04A56;
    color: #32293A;
}
.answer{
    font-size: 22px;
    background-color: #F04A56;
    line-height: 32px;
    color: #32293A;
    font-weight: 600;
    padding: 30px;
}