body{
    font-family: 'Arial', sans-serif;
    background-color: #77608d;
    margin: 0 auto;
}
p{
    color: #F26522;
    text-align: center;
}
.container{
    margin-top: 200px;
}
li{
    list-style: none;
    margin-top: 10px;
    text-align: center;
    margin-left: 685px;
    border-radius: 10px;
    background: #01A368;
    border: 1px solid rebeccapurple;
    width: 600px;
    font-weight: bold;
}
li:hover{
    font-weight: bold;
    background-color: #FFBF00;
    color: #01A368;
    cursor: pointer;
}
.seconds{
    font-size: 50px;
}