body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    text-align: center;
    margin: 31.5px 330px 31.5px 330px;
}
.navbar a {
    margin-right: 72px;
    text-decoration: none;
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}
.navbar a:hover{
    text-decoration: underline;
}
img{
    width: 100%;
}
.content{
    margin-bottom: 108px;
    margin-top: 1px;
    margin-right: 67.5px;
    margin-left: 67.5px
}
h2{
    text-align: center;
    margin: 48px 253px 38px 253px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: #373737;
    letter-spacing: 3.3px;
    line-height: 27px;
}
.container{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: #373737;
    text-align: center;
    line-height: 26px;
    letter-spacing: 2.4px;
    font-size: 16px;
}
button {
    background-color: red;
    border: 0;
    color: #ffffff;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 18px 43px ;
    margin: 0 auto;
    display: block;
    margin-top: 66px;
    margin-bottom: 42px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.8px;
}
footer{
    text-align: right;
    margin: 40px 105px 29px 713px;
    font-size: 16px;
    color: #373737;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2.4px;
}