body{
    background-color: #77608d;
}
.password-form {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 12% auto;
    padding: 50px;
    color: #ffffff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}
.login__title{
    text-align: center;
    margin-bottom: 40px;
}
.input-wrapper{
    position: relative;
    display: block;
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
}
input{
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
}
.login-btn{
    margin: 40px auto;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #ffffff;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
}
.password-form {
    display: flex;
    flex-direction: column;
}
.input-wrapper {
    position: relative;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}
.error {
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: red;
}