*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    background-color: #333;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*padding: 20px 0;*/
}
/*.fullscreen__bg{*/
/*    background: url("../img/header-background.png") center / cover no-repeat fixed;*/
/*}*/
.fullscreen{
    min-height: 100vh;
    background: #666;
    display: flex;
}
.fullscreen__two{
    background-color: #794f45;
}
.fullscreen__body{
    width: 100%;
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}
.fullscreen__title{
    font-size: 50px;
    margin: 0 0 20px 0;
}
.fullscreen__text{
    font-size: 25px;
    margin: 0 0 20px 0;
}
.fullscreen__link{
    display: inline-block;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #77608d;
    align-self: center;
    padding: 0 20px;
}
.content{

}
.content__body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px ;
}
.content__body p{
    padding: 0 0 20px 0;
}
.content__body p:last-child{
    margin: 0;
}
.footer{
    background-color: #111111;
    text-align: center;
}
.footer__body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px ;
}