body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 700 16px Arial, sans-serif;
    background: #0e0e0e;
}
.animation-wrapper{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 41%;
    margin: 0 10% 0 27%;
    height: 100%;
    font-size: 150%;
    text-align: justify;
    color: #FFBF00;
    transform: perspective(270px) rotateX(20deg);
}
.animation{
    position: absolute;
    animation-name: FrontEnd-Wars;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.animation__title{
    font-size: 250%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.animation__description{
    font-size: 222%;
}
@keyframes FrontEnd-Wars {
    0% {
        top: 55%;
        opacity: 1;
    }
    97% {
        opacity: 1;
    }
    100% {
        top: -55%;
        opacity: 0;
    }
}
audio{
    z-index: 100;
}