body{
    margin: 0 auto;
    padding: 0;
    width: 1366px;
}
.container{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    font-family: 'Arimo', sans-serif;
}
.table{
    /*box-sizing: border-box;*/
    border: 11px solid #3A4965;
    color: #484848;
    text-transform: uppercase;
    text-align: center;
    border-collapse: collapse;
}
th, td{
    border-right: 1px solid #C6C3B5;
    text-align: center;
    vertical-align: middle;
}
.thead sup{
    font-size: 24px;
}
.thead span{
    font-size: 18px;
    display: inline-block;
    font-weight: normal;
}
.plan{
    line-height: 28px;
    font-weight: bold;
    background: #FAFAFA;
    /*padding: 0 32px 0 34px;*/
}
.plan p:nth-child(1){
    font-size: 18px;
    padding: 0 71px 0 73px;
}
.plan p:nth-child(2){
    font-size: 30px;
    padding: 2px 32px 0 34px;
}

.standard{
    line-height: 28px;
    font-weight: bold;
    border-right: 1px solid #89C331;
}
.standard :hover{
    font-size: 30px;
    transition: 0.4s;
    background: lawngreen;
    border-right: none;
}
.standard p:hover{
    transition: 0.4s;
    color: #484848;
}
.standard p{
    /*border: 1px solid #89C331;*/
    font-size: 24px;
    background: #89C331;
    color: #ffffff;
    padding: 25px 58px 17px 60px;
}
.standard-bot p{
    padding: 24px 34px 12px 30px;
    background: #FAFAFA;
    /*border: 1px solid #FAFAFA;*/
    font-size: 60px;
}

.ultimate{
    border-right: 1px solid #F04A56;
    line-height: 28px;
    font-weight: bold;
}
.ultimate :hover{
    background: red;
    transition: 0.4s;
}
.ultimate p:hover{
    color: #484848;
    font-size: 35px;
    transition: 0.4s;
}
.ultimate p{
    border-right: 1px solid #F04A56;
    background: #F04A56;
    font-size: 30px;
    color: #ffffff;
    padding: 23px 53px 19px 49px;
}
.ultimate-bot p{
    padding: 23px 33px 12px 32px;
    background: #FAFAFA;
    font-size: 60px;
}

.premium{
    line-height: 28px;
    font-weight: bold;
    border-right: 1px solid #20807C;
}
.premium p{
    font-size: 24px;
    color: #ffffff;
    background:  #20807C;
    padding: 25px 68px 17px 67px;
}
.premium :hover{
    background: steelblue;
    transition: 0.4s;
}
.premium p:hover{
    color: #484848;
    font-size: 25px;
    transition: 0.4s;
}
.premium-bot p{
    background: #FAFAFA;
    /*border: 1px solid #FAFAFA;*/
    font-size: 60px;
    padding: 25px 33px 9px 22px;
}

.table-content td{
    background: #F2F2F2;
    color: #484848;
    font-size: 16px;
    line-height: 28px;
    padding: 20px 73px 20px 71px;
}

.table_content td{
    font-size: 16px;
    line-height: 28px;
    background: #E3E3E3;
    color: #484848;
    padding: 20px 73px 20px 71px;
}

.table-content span, .table_content span{
    display: inline-block;
    line-height: 16px;
}

.fas{
    color: #848484;
}

.buttons button {
    cursor: pointer;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
     border-bottom: 9px inset rgba(0, 0, 0, 0.27);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.contact__bg{
    background: #DDDDDD;
}
.contact-btn{
    margin: 30px 56px 26px 57px;
    background: #484848;
    padding: 18px 44px;
}
.contact-btn:hover{
    background: #32293A;
    transition: 0.3s;
}
.standard__bg{
    background: #EEEEEE;
}
.standard-btn{
    margin: 31px 41.92px 28px 43.15px;
    background: #89C331;
    padding: 17px 57px 18px 57px;
}
.standard-btn:hover{
    background: lawngreen;
    transition: 0.3s;
}
.ultimate__bg{
    background: #F4F4F4;
}
.ultimate-btn{
    margin: 33px 42px 26px 42px;
    background: #F04A56;
    padding: 20px 57px 16px 57px;
}
.ultimate-btn:hover{
    background-color: red;
    transition: 0.3s;
}
.premium__bg{
    background: #EEEEEE;
}
.premium-btn{
    margin: 31px 42px 26px 39px;
    background: #20807C;
    padding: 16px 57px 19px 57px;
}
.premium-btn:hover{
    background: steelblue;
    transition: 0.3s;
}