body{
    background: #77608d;
}
.grid-container{
    margin-top: 20vh;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    color: #353A3D;
    font-size: 26px;
    line-height: 32px;
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(1, 30% 30%);
    /*grid-column-gap: 10px;*/
    /*margin-left: 200px;*/
}
.question{
    background-color: #F04A56;
    padding: 20px;
}
.answer{
    padding: 20px;
    background: #4682b4;
}
