.light-theme{
    --header-bg-color: #FE6F5E;
    --header-title-color: #F2F2F2;
    --nav-bg-color: darkseagreen;
    --li-bg-color: pink;
    --links-color: #ffffff;
    --aside-bg-color: #DF4A32;
    --main-bg-color: #F26522;
    --content-title-color: #ffffff;
    --content-subtitle-color: #ffffff;
    --img-content-color: #ffffff;
    --img-bg-color: #4682b4;
    --button-wrapper-bg-color: #77608d;
    --button-color: #ffffff;
    --button-bd-color: #F26522;
    --button-bg-color: #FE6F5E;
    --button-active-bg-color: #F26522;
}
.dark-theme{
    --header-bg-color: #794f45;
    --header-title-color: #0e0e0e;
    --nav-bg-color: #770F05;
    --li-bg-color: #0B6207;
    --links-color: #000000;
    --aside-bg-color: #848484;
    --main-bg-color: #6E7783;
    --content-title-color: #0e0e0e;
    --content-subtitle-color: #000000;
    --img-content-color: #000000;
    --img-bg-color: #D05F04;
    --button-wrapper-bg-color: #000741;
    --button-color: #0e0e0e;
    --button-bd-color: #714AB2;
    --button-bg-color: #956387;
    --button-active-bg-color: #714AB2;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: var(--header-bg-color);
}
.header__title{
    color: var(--header-title-color);
    font-size: 26px;
    font-weight: bold;
}
.nav{
    background: var(--nav-bg-color);
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;

}
.menu li{
    list-style: none;
    padding: 20px;
    background: var(--li-bg-color);
    margin: 5px;
}
.link{
    color: var(--links-color);
    font-size: 16px;
    text-decoration: none;
    padding: 25px;
}
.container{
    display: flex;
}
.left-content{
    background: var(--aside-bg-color) ;
    padding-bottom: 150px;
}
.main-content{
    background: var(--main-bg-color);
    width: 100%;
}
.content__title{
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: var(--content-title-color);
}
.content__subtitle{
    color: var(--content-subtitle-color);
    font-weight: bold;
    padding-left: 20px;
}
.content__img{
    color: var(--img-content-color);
    text-transform: uppercase;
    margin: 20px 10px 10px 20px;
    background: var(--img-bg-color);
    padding: 20px 400px 300px 20px;
    font-size: 16px;
}
.switch{
    padding: 80px 0;
    background: var(--button-wrapper-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.switch__btn{
    cursor: pointer;
    width: 400px;
    /*height: 200px;*/
    color: var(--button-color);
    padding: 20px;
    font-size: 40px;
    border: 3px solid var(--button-bd-color);
    background-color: var(--button-bg-color);
    outline: none;
    border-radius: 5px;
}
.switch__btn:active{
    background-color: var(--button-active-bg-color);
}