*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.wrapper{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    font-family: Arial, sans-serif;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.button:before,
.button:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid red;
    top: -10px;
    left: 50%;
    z-index: 1;
    margin-left: -40px;
    transition: 0.8s;
}
.button:before{
    animation: rotateRedLines 15s infinite linear;
}
.button:after{
    animation: rotateRedLines 20s infinite linear;
}
.button:hover:before,
.button:hover:after{
    left: 100%;
    opacity: 0;
}
.button__text{
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 10px;
    transition: 1s;
    top: 0;
    overflow: hidden;
}
.button__text span{
    position: relative;
    z-index: 2;
}
.button__text:before{
    left: 0;
    z-index: 2;
}
.button__text:after{
    right: 0;
}
.button__text:before,
.button__text:after{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #EEEEEE;
    transition: 0.8s;
}
.button:hover .button__text:before{
    width: 100%;
}
.button:hover .button__text{
    top: -10px;
    color: #FFFFFF;
    transition: all 0.5s ease 0.2s;
    box-shadow: 0 5px 0 0 #0c5b52;
}
.button:hover .button__text:before,
.button:hover .button__text:after{
    background-color: #18b5a4;
}
.button:active .button__text{
    top: -7px;
    transition: all 0.1s ease 0s;
    box-shadow: 0 2px 0 0 #0c5b52;
}
@keyframes rotateRedLines{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}