*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f6f6;
    width: 400px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color: #444;
}
div{
    display: none;
    padding: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 1px 1px 0 #ccc;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}
button, button:active{
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 10px auto;
    font-size: 18px;
    outline: none;
}
#loadMore{
    cursor: pointer;
    padding: 10px;
    text-align: center;
    background-color: #33739e;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 1px 1px 0 #ccc;
    transition: all .6s ease-in-out;
}
#loadMore:hover{
    background-color: #fff;
    color: #33739e;
}