body{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.back-btn{
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;
    font-size: 22px;
    color: #ffffff;
    background-color: #e74c3c;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: 0.3s;
}
.back-btn:active{
    outline: none;
    border: none;
    background-color: grey;
}
.fa-chevron-up{
    background-color: transparent !important;
    padding: 10px !important;
}
.page-navigation{
    display: flex;
    flex-direction: column;
    background-color: #FFBF00;
}
.navigation__title{
    text-align: center;
    padding: 30px 0 10px 0;
    text-transform: uppercase;
}
.navigation-menu{
    /*width: 100%;*/
    margin: 20px;
    background-color: #77608d;
}
.menu__item{
    padding: 25px;
}
.item__link{
    color: #0e0e0e;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.item__link:hover{
    text-decoration: underline;
    color: #DF4A32;
    transition: 0.1s;
}
.item__link:active{
    color: #0e0e0e;
}
/*класс для заголовков*/
.title{
    color: #18B4CF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
    margin: 49px 0 52px 0;
}
.sub__header__title{
    color: #FFFFFF;
    margin-top: 164px;
    margin-bottom: 44px;
}
.top-header{
    width: 100%;
    background-color: #313131;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}
.top__header__logo{
    display: flex;
    align-items: center;
    margin: 22px 0 21px 29px;
}
.logo__name{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin-left: 27px;
}
.top__header__nav__menu ul{
    display: flex;
    padding: 28px 0 26px 0;
}
.top__header__nav__menu ul a{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 35px;
}
.top__header__nav__menu ul a{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 35px;
}
.top__header__nav__menu ul a:hover{
    color: #14B9D5;
    transition: 0.2s;
}
.top__header__search__logo{
    background-color: #000000;
    cursor: pointer;
}
.fas{
    width: 17px;
    height: 17px;
    padding: 27px 25px 26px 26px;
    background-color: #000000;
}

.sub-header{
    display: flex;
    /*width: 100%;*/
    background-image: url("../img/header-background-2.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*height: 1000px;*/
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__btn{
    display: flex;
    margin-bottom: 74px;
}
.sub__header__button{
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    transition: 0.3s;
    outline: none;
}
.subscribe{
    background: #89CA62;
    margin-right: 20px;
    padding: 17px 19px 17px 19px;
}
.subscribe:hover{
    background: #67A712;
}
.article{
    background: #14B9D5;
    padding: 17px 30px 17px 30px;
}
.article:hover{
    background: deepskyblue;
}
.content-wrapper{
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    width: 1200px;
    display: flex;
    font-size: 0;
    justify-content: space-between;
    /*flex-direction: column;*/
}
.img__description{
    margin-bottom: 30px;
    padding: 20px 0 22px 0;
    background: #FFFFFF;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.img__wrapper__right{
    margin-bottom: 72px;
}
.brands-wrapper{
    display: grid;
    justify-content: center;
    background-image: url("../img/parallax-effect.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.brands__title{
    justify-self: center;
    margin-top: 106px;
    margin-bottom: 87px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
}
.brand__title__border{
    justify-self: center;
    border-bottom: 3px solid #18B4CF;
    width: 60px;
    height: 3px;
    margin-bottom: 107px;
}
.brands{
    display: flex;
    align-self: center;
}
.brands img{
    font-size: 0;
    padding-right: 58px;
    margin-bottom: 183px;
}
.gallery__wrapper{
    justify-self: center;
}
.gallery{
    font-size: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.main-container{
    display: grid;
    justify-items: center;
}
.main-container h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    background: #F9F7F7;
    padding: 41px 24px 14.5px 59px;
    color: #353A3D;
}
.main-container p{
    padding: 14.5px 24px 19px 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    background: #F9F7F7;
    color: #5B6469;
}
.main_head{
    display: grid;
    grid-template-columns: repeat(1, 483px 374px auto);
    margin-bottom: 42px;
}
.head__article{
    /*background: #F9F7F7;*/
    text-align: right;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);}
.head__img{
    margin-left: 35px;
    font-size: 0;
}
.main__section{
    display: grid;
    grid-template-columns: repeat(1, 554px 554px);
    grid-column-gap: 60px;
    grid-row-gap: 43px;
}
.main__section p{
    padding: 15px 14px 2px 13px;
}
.main__section h3{
    padding: 14px 27px 15px 0;
}
.main__footer{
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(1, auto 483px 374px);
    margin-bottom: 77px;
}
.footer__img{
    font-size: 0;
    margin-right: 35px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(1, 350px 105px);
    background: #000000;
    justify-content: space-around;
}
.copy{
    padding: 29px 0 30px 0;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 13px;
}
.footer__logo{
    padding: 29px 0 27px 0;
}
h4{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 14px 24px 11px 24px;
    text-align: center;
    background: #F9F7F7;
}