/*Styles for font family and bg*/
body{
    background-color: #77608d;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
/*Wrapper or centered-content*/
.wrapper{
    margin: 0 auto;
    max-width: 1000px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*First block (nav)*/
ul{
    list-style: none;
}
.nav{
    display: flex;
}
.tabs-nav-item{
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

/*Second block*/
.tab{
    display: none;
    padding: 20px;
    background-color: #FFBF00;
}

/*Active class*/
.tabs-nav-item.is-active{
    background-color:#937341 ;
    color: #23201D;
}
.tab.is-active{
    display: block;
}


