@charset "UTF-8";
/*   ------Reset styles------   */
*,
*::before,
*::after,
*:active{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

/*   ------Font family------   */
body{
    font-family: 'Montserrat', sans-serif;
}

/*   ------Container for max-width------   */
._container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 17px;
}

/*   ------Class for all titles on the page------   */
/*   <--- And pseudo class for lines that under the title--->   */
.title{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}
.title:after{
    content: "";
    display: block;
    margin: 37px auto 0 auto;
    transform: skew(70deg);
    height: 4px;
    width: 76px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
}

/*   <------- MAIN STYLES ------->   */

/*   ------ First section with header and subheader content section ------   */
.top-section{
    background-image: url("../images/02 Section Background-images/section-1(header).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*   <--- Top-section header navigation menu --->   */
.header{
    width: 100%;
    margin: 0 0 264px 0;
    background-color: rgba(94, 93, 88, 0.6);;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*   <-- Logo -->   */
.header__logo{
    display: block;
}
/*   <-- Navigation and links -->   */
.navigation{
    display: flex;
    list-style: none;
}
.nav__link{
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: #ffffff;
}
.nav__link:hover{
    color: #18CFAB;
    padding:0 0 49px 0;
    border-bottom: 3px solid #18CFAB;
    /*transform: matrix(1, 0, 0, -1, 0, 0);*/
}
.search__logo{
    width: 20px;
    height: 20px;
    font-family: "Font Awesome 5 Free", serif
}
/*   ------ Top-section content that under yhe header nav menu ------*/
.top-section__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content__wrapper{
    margin: 0 0 129px 0;
}
/*   <-- Styles of text -->   */
.content__wrapper p{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.content__wrapper p:nth-child(1){
    margin-bottom: 22px;
}
.green__span{
    font-weight: bold;
    font-size: 35px;
    display: inline-block;
    color: #18CFAB;
}
.content__wrapper p:nth-child(2){
    font-size: 78px;
    margin-bottom: 22px;
}
.content__wrapper p:nth-child(3){
    text-transform: capitalize;
    color: #D4D4D4;
}
/*   ------ Top-section buttons under ------   */
.top-section-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 243px 0;
}
/*   <-- Buttons` styles -->   */
.subtitle__buttons{
    width: 169px;
    border-top: 3px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px;
    display: block;
}
.green-btn{
    background-color: #18CFAB;
}
.blue-btn{
    background-color: #00CBF6;
    margin-left: 26px;
}
.green-btn:hover{
    background-color: #18b5a4;
}
.blue-btn:hover{
    background-color: #305DB8;
}



/*   ------ Second block with cards ------   */
/*   <-- Cards` "container" styles -->   */
.options-cards{
    width: 100%;
    margin: 8px 0 0 0;
}
.cards__body{
    display: flex;
    width: 100%;
}
.card{
    padding: 100px 0;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*   <-- Text and cards` background-color styles -->   */
.dark{
    background-color: #1C2A33;
    color: #18CFAB;
}
.green{
    background-color: #18CFAB;
    color: #ffffff;
}
.card .card__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
/*   <-- Cards` images -->   */
.dark img{
    padding: 0 0 48px 0;
}
.green img{
    padding: 0 0 59px 0;
}



/*   ------ Third block with tabs ------   */
/*   <-- Services` "container" styles and title -->   */
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
}
.services__title{
    margin: 0 auto 90px auto;
}

/*   <-- Tabs` navigation styles -->   */
.tabs-service{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px auto;
}
/*   <-- .item__link is child of .tab__item -->   */
.tab__item{}  /*   --->  */ .item__link {
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    padding: 25px 35px;
    border: 1px solid #EDEFEF;
}
.item__link:hover {
    border-color: #18CFAB;
    box-sizing: border-box;
    transition: all .6s ease;
}
/*   <-- Active or Clicked link -->   */
.active-link {
    background-color:#18CFAB ;
    color: #fff;
    border-color: #18CFAB;
    position: relative;
}
/*   <-- Active or Clicked link`s triangle -->   */
.active-link:after, .active-tab:before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    border: solid transparent;
    z-index: 100;
}
.active-link:after {
    border-color: rgba(24, 207, 171, 0);
    border-top-color: #18cfab;
    border-width: 15px;
    margin-left: -15px;
}
/*   <-- Tab`s content styles -->   */
.services-tab-content{
    display: none
}
.services-tab-content img{
    width: 193px;
    height: 178px;
}
/*   <-- Active content -->   */
.active-tab-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-content-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #777777;
    padding: 0 0 0 15px;
}



/*   ------ Fourth block with purchase section ------   */
/*   <-- Main purchase background and purchase container styles -->   */
.purchase-section{
    background-image: url('../images/02 Section Background-images/section-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 7000px 0 0 0 rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-attachment: fixed;
}
.purchase__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*  <-- Purchase text`s and button`s styles*/
.purchase__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.purchase__title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding: 127px 0 13px 0;
}
.purchase__subtitle{
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
}
.purchase__btn{
    margin: 62px 0 132px 0;
}



/*   ------ Sixth block with news section ------   */
/*   <-- Container`s and title`s styles -->   */
.news-section{}
.news__container{
    margin: 0 auto 130px auto;
}
.news__title{
    position: relative;
    margin: 84px 0 67px 0;
}
/*   <-- News section`s content-wrapper*/
.news__content__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 263px);
    grid-template-rows: repeat(2, 280px);
    justify-content: center;
    align-items: center;
    grid-column-gap: 35px;
    grid-gap: 45px;
}
/*   <-- News` content styles and hover effect -->   */
.news__content{
    display: block;
    cursor: pointer;
    position: relative;
}
.news__content:hover .image__title{
    color: #18CFAB;
    transition: all 0.2s;
}
.news__content:hover .news__date{
    background-color: #18CFAB;
    transition: all 0.2s;
}
.news__image{
    padding: 0 0 4px 0;
}
.image__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    text-align: center;
    color: #717171;
}
.image__subtitle{
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    color: #777777;
}
/*   <-- Date and date`s text -->   */
.news__date{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: #203E38;
}
.date__text{
    padding-top: 10px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}



/*   ------ Seventh block with slider ------   */
/*   <-- Slider`s section background and title`s styles*/
.slider-section{
    background-image: url("../../Step Project The Ham/images/02 Section Background-images/section-3.jpg");
    box-shadow: inset 7000px 0 0 0 rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.slider__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__slider__title{
    padding: 99px 0;
}
.white{
    color: #ffffff;
}
/*   <-- Quotes` img -->   */
.quotes__logo{
    display: block;
    margin: 0 auto;
}
/*   <-- Slider`s content styles -->   */
.slider-wrapper{
    margin: 0 auto;
}
.slider__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*   <-- Slow animation for show slider`s images -->   */
.faded{
    animation-name: faded;
    animation-duration: 1.5s;
}
@keyframes faded {
    from{opacity: .3}
    to{opacity: 1;}
}
/*   <-- Slider`s text styles -->   */
.slider__content p {
    text-align: center;
    font-size: 16px;
    line-height: 29px;
    font-weight: 300;
    color: #bbbbbb;
}
.slider__title{
    margin: 37px auto;
}
.slider__content .slider__name{
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
    margin: 0 0 5px 0;
}
.slider__profession{}

.slider__img{
    width: 171px;
    height: 166px;
}
/*  <-- Slider dots` images -->   */
.dots-container{
    margin: auto;
    position: relative;
    max-width: 530px;
    padding: 55px 0 95px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*   <-- Dot buttons` styles and hover effect -->   */
.dot-btn-wrap{
    border: 1px solid #BBBBBB;
}
.dot-btn{
    background: rgba(0, 0, 0, 0.0001);
    display: inline-block;
    padding: 6px 12px;
    color: #bbbbbb;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.dot-btn-wrap:hover{
    border-color: #18CFAB;
}
.dot-btn:hover{
    cursor: pointer;
    background: #18CFAB;
    color: #ffffff;
}
/*   <-- Dots and their images -->   */
.dot{
    margin: 0 15px 0 15px;
}
.dots__images{
    width: 80px;
    height: 73px;
    cursor: pointer;
}
/*   <-- Active dot -->   */
.active-dot{
    padding-bottom: 40px;
}



/*   ------ Last block footer ------   */
.footer{
    width: 100%;
    background-color: #22353F;
}
.footer__text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}
.copyright, span{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE
}
.copyright span{
    color: #18CFAB;
}


/*   ------ Eights block section with masonry plugin ------   */
.masonry-gallery{}
/*   <-- Gallery`s title*/
.gallery__title{
    margin: 107px auto 115px auto;
}
/*   <-- Gallery`s container -->   */
.masonry-container{
    max-width: 1170px;
    margin: 0 auto;
}
/*   <-- Gallery content -->   */
.grid{
    margin-bottom: 67px;
}
.grid-item{
    width: 370px;
    margin-bottom: 17px;
    overflow: hidden;
}
.grid-item img{
    width: 100%;
    height: 100%;
}
.grid-item-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 124px 119px 115px;
    grid-template-rows: repeat(3, 92px);
    grid-gap: 3px;
    width: 100%;
    height: 100%;
}
/*   <-- Gallery image hover effect -->   */

.grid-hover{
    background: rgba(0, 0, 0, 0.64);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 99%;
    transition: 0.3s;
    color: #fff;
    opacity: 0;
}
.grid-hover a{
    color: #ffffff;
    box-sizing: border-box;
    margin-right: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 10px 0 0 0;
    border: 1px solid #14B9D5;
    background-color: #14B9D5;
}
.grid-item:hover .grid-hover{
    opacity: 1;
}
/*Loading from server simulate*/
.loader{
    display: none;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
.loader span{
    font-size: 30px;
}
@keyframes arrows {
    0%,
    100% {
        color: #18cfab;
        transform: translateY(0);
    }
    50% {
        color: red;
        transform: translateY(20px);
    }
}

.loader span {
    --delay: 0s;
    animation: arrows 0.8s var(--delay) infinite ease-in;
}
/*   <-- Load more button -->   */
.load-more-btn-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 67px auto;
}
.load-more-btn{
    box-sizing: border-box;
    width: 168px;
    height: 63px;
    background: #18CFAB;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    border-radius: 5px;
}
.fa-plus{
    padding: 0 15px 0 0;
}
.load-more-btn:hover{
    background-color: #18B4CF;
    cursor: pointer;
}


.work-section{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
    background-color: #E9EDEF;
}
.work__title{
    margin: 97px auto 65px auto;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 71px auto;
    color: #717171;
}

.list__item{
    text-align: center;
    border: 1px solid #DADADA;
    cursor: pointer;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    padding: 10px 35px;
}

.active__item{
    color: #18cfab;
    border: 2px solid #18cfab;
}

.list-content{
    display: flex;
    margin-bottom: 71px;
    flex-wrap: wrap;
}
.list-img{
    position: relative;
    width: 284px;
    height: 207px;
    box-sizing: border-box;
    overflow: hidden;
}
.list-hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 284px;
    height: 207px;
    padding: 46px 0 52px 0;
    border-top: 3px solid #18cfab;
    text-align: center;
    box-sizing: border-box;
    background-color: #f8fcfe;
    transition: 0.6s;
    transform: translateY(200%);
}

.hover__links a{
    display: inline-block;
    margin: 0 2.5px;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    line-height: 40px;
    color: #18cfab;
}

.hover__links a:hover{
    background-color: #18cfab;
    color: #fff;
}

.link__title p:first-child{
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color:  #18cfab;
}

.link__title p:nth-child(2){
    text-transform: capitalize;
    font-size: 12px;
    color:  #8a8a8a;
}

.list-img:hover .list-hover{
    transform: translateY(0);
}