.input-fix-color{
    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: green;
}
.inp_price, input{
    margin: 10px;
}
.span_btn{
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 14px;
    background-color: firebrick;
}
.span_js{
    /*font-size: 14px;*/
    padding: 5px;
    display: block;
    margin: 5px;
}
.hidden{
    display: none;
}