body{
    background: #87cefa;
    font-family: 'Arial', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(1, 40% 40%);
    grid-column-gap: 50px;
    justify-content: center;
}
.wrapper{
    display: flex;
    text-align: left;
    flex-direction: column;
    background: #32293A;
    color: #FFFFFF
}
.question{
    padding: 20px;
    align-self: center;
    font-size: 32px;
    line-height: 42px;
}
.answer{
    padding: 20px;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}