body{
    background-color: #77608d;
}
#slider-wrapper{
    width: 400px;
    height: 400px;
    border: 5px solid #ffffff;
    margin: 50px auto;
    overflow: hidden;
}
.images-wrapper{
    width: 1600px;
    position: relative;
    font-size: 0;
    left: 0;
    transition: all ease 1s;
}
.image-to-show {
    width: 400px;
    height: 400px;
}
.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn-container{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}
.btn-container button:nth-child(1){
    background-color: red;
}
.btn-container button:nth-child(2){
    background-color: #01A368;
}

/*.infinity-slider-wrapper{*/
/*    !*overflow: hidden;*!*/
/*    border: 1px solid #000;*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    margin: 50px auto;*/
/*    position: relative;*/
/*}*/
/*.infinity-slider{*/
/*    font-size: 0;*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*}*/
/*.infinity-slider img{*/
/*    opacity: 1;*/
/*    transition: all ease 1s;*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    position: absolute;*/
/*}*/
/*.infinity-slider .opacity0 {*/
/*    opacity: 0;*/
/*}*/
/*.btn-infinity-up, .btn-infinity-down{*/
/*    margin-top: 10px;*/
/*    font-size: 20px;*/
/*}*/